.layout-btn {
  display: block;
}

/* Base button styles - shared by all buttons */
.button {
  margin: 0 0 5px 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  text-transform: capitalize;
  color: black;
  background-color: yellow;
}

/* Button modifiers - to modify shared styles */
.button:disabled {
  background-color: red;
  color: white;
}

.counter-active {
  background-color: blue;
  color: white;
}

.reset-button {
  background-color: white;
}

/* Display/click counter */
.display {
  margin-left: 10px;
}