@import url('reset.css');

.layout {
  border: 5px solid lightgreen;
  border-radius: 20px;
  font-family: Verdana;
  font-size: 25px;
  height: 30%;
  margin: 20% auto;
  min-width: 750px;
  width: 60%;
}

.layout__title {
  padding: 20px;
  text-align: center;
}

.layout__message {
  clear: both;
  font-size: 20px;
  margin: 0 auto 20px;
  text-align: center;
  width: 600px;
}

.layout__button-group {
  margin: 0 auto;
  text-align: center;
  width: 500px;
}

.layout__button {
  display: inline;
}

/* base button styles - shared by all buttons */
.button {
  background-color: lightgreen;
  border: 1px solid green;
  border-radius: 30px;
  color: black;
  font-size: 25px;
  padding: 10px;
  margin: 0 0 5px 10px;
  text-transform: capitalize;
  width: 100px;
}

.button:hover {
  background-color: green;
  color: white;
}

/* display/counter */
.display {
  margin-left: 10px;
}

.counter {
  background-color: green;
  border-radius: 30px;
  color: white;
  display: inline;
  padding: 10px 20px;
  width: 20%;
}

/* bar formatting */
.meter {
  background: lightgreen;
  border-radius: 25px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  float: left;
  height: 15px; 
  position: relative;
  padding: 7px;
  margin: 0 10px 10px 10px;
  width: 80%;
} 

.meter > span {
  animation: move 5s;
  animation-fill-mode: forwards;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.meter > span:after {
  animation: move 2s linear infinite;
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
  );
  background-size: 50px 50px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 8px;
  content: "";
  overflow: hidden;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1;
}

