.layout {
  display: block;
}

.setup {
  margin-bottom: 5px;
  display: inline;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  text-transform: capitalize;
} 

#reset-button {
  background-color: white;
}

#first-counter,
#second-counter,
#third-counter,
#reset-button {
  display: inline;
  margin-left: 10px;
}

.switch-non-active {
  background-color: yellow;
  color: black;
}

.switch-active {
  background-color: blue;
  color: white;
}

.switch-disabled {
  background-color: red;
  color: white;
  text-transform: uppercase;
}